<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold">Planet</h1>
  <table>
    <tr class="table-header">
      <th>Id</th>
      <th>Type</th>
      <th>Movement Difficulty</th>
      <th>Recharge Multiplicator</th>
      <th>Resource Type</th>
      <th>Amount</th>
      <th>Deleted At</th>
      <th>Delete</th>
      <th>Replenish</th>
    </tr>
    <tr>
      <td><%= @planet.id %></td>
      <td><%= @planet.planet_type %></td>
      <td><%= @planet.movement_difficulty %></td>
      <td><%= @planet.recharge_multiplicator %></td>
      <td><%= @resource&.resource_type %></td>
      <td><%= @resource&.max_amount %>/<%= @resource&.current_amount %></td>
      <td><%= @planet.deleted_at %></td>
      <td> <%= button_to "Delete Planet", set_deleted_at_path(@planet), method: :post, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"  %></td>
      <td> <%= button_to "Replenish", replenish_resource_path(@planet), method: :post, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"  %></td>
    </tr>
  </table>
  <h1 class="text-2xl font-bold">Neighbours</h1>
  <table>
    <tr class="table-header">
      <th>Id</th>
      <th>Type</th>
      <th>Movement Difficulty</th>
      <th>Recharge Multiplicator</th>
      <th>Direction</th>
      <th>Resource Type</th>
      <th>Amount</th>
    </tr>
    <% @planet.neighbours.each do |neighbour| %>
      <tr>
        <td><%= neighbour.id %></td>
        <td><%= neighbour.planet_type %></td>
        <td><%= neighbour.movement_difficulty %></td>
        <td><%= neighbour.recharge_multiplicator %></td>
        <td><%= @planet.direction_from_neighbour(neighbour) %></td>
        <td><%= neighbour.resource&.resource_type %></td>
        <td><%= neighbour.resource&.max_amount %>/<%= neighbour.resource&.current_amount %></td>
      </tr>
    <% end %>
  </table>
</div>
