<div class="wrapper">
  <h1><%= @gameworld.id %></h1>

  <% @gameworld2d.each do |row| %>
  <div class="row">
    <% row.each do |p| %>
    <div class="box 
      <%= 'move_cost_1' if p.movement_difficulty == 1 %>
      <%= 'move_cost_2' if p.movement_difficulty == 2 %>
      <%= 'move_cost_3' if p.movement_difficulty == 3 %>">
      <div>
        <div style="position: absolute;">
          <%= image_tag "castle.png", :class => 'png' if p.planet_type == 'spawn' %>
          <%= image_tag "space_station.png", :class => 'png' if p.planet_type == 'spacestation' %>
          <%  if p.resources.any?
              id =  p.resources.to_ary[0].resource_type_id
              end %>
          <%= image_tag "coal.png", :class => 'png' if id == ResourceType.find_by(name: "coal").id %>
          <%= image_tag "iron.png", :class => 'png' if id == ResourceType.find_by(name: "iron").id %>
          <%= image_tag "gem.png", :class => 'png' if id == ResourceType.find_by(name: "gem").id %>
          <%= image_tag "gold.png", :class => 'png' if id == ResourceType.find_by(name: "gold").id %>
          <%= image_tag "platin.png", :class => 'png' if id == ResourceType.find_by(name: "platin").id %>
        </div>
        <p>x:<%= p.x%></p>
        <p>y:<%= p.y%></p>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>

</div>